/* 
	font-family: 'Cormorant', Garamond, serif;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
*/ 

body { margin: -5px; }

/* ============================ NAV ====================== */

	nav {
		position: fixed;
		z-index: 10;
		width: 100vw;
		background-color: #2f1f3f;
		border-bottom: 2px solid white;
		padding: 10px 0;
	}

	.nav__stuff {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		padding: 0 50px;
		/*border: 1px solid gold;*/

	}
	.nav__home {}

	.nav__link-text {		
		font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
		color: white;
		font-size: 1.6rem;
		font-weight: 300;

		margin: 0 30px;
		/*border: 1px solid gold;*/
	}
	.nav__link-text:hover { color: #656e82; cursor: pointer;}

/* ============================ NAV ====================== */

/* ============================ SQGOPT =================== */

	.sqgopt__cta-box {
		padding: 20px;
		background-color: #985617;
		text-align: center;
	}

	.sqgopt__cta-copy {
		font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
		font-weight: 300;
		line-height: 2.2rem;
		color: #ffffff;
		font-size: 1.5rem;
	}

	.sqgopt__trigger-box {
		position: sticky;
		top: 50vh;
		/*margin-top: 200px;*/
		margin-left: 100%;
		transform: translateX(-100%);
		padding: 10px;

		height: 30px;
		width: 50px;
		background-color: #985617;
		border-bottom-left-radius: 15px;
		border-top-left-radius: 15px;
	}

	.sqgopt__email-icon {
		width: 40px;
	}
	.sqgopt__email-icon:hover {
		cursor: pointer;
	}

/* ============================ SQGOPT =================== */

/* ============================ TYPOGRAPHY =============== */

	h1 {
		font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
		font-weight: 900;
		color: #1a2744;
		font-size: 3.5rem;
	}

	p {
		max-width: 38rem;

		font-family: 'Cormorant', Garamond, serif;
		font-weight: 400;
		color: #151c24;
		font-size: 1.5rem;
		line-height: 2.25rem;
	}

	.body-text p {
		margin-left: 50%;
		transform: translateX(-50%);
	}

/* ============================ TYPOGRAPHY =============== */


.hero-img {
	margin-top: 40px;
	margin-left: 50%;
	transform: translateX(-50%);
}

.header-box {
	margin-top: -6rem;
	margin-left: 50%;
	transform: translateX(-50%);
	padding: 1rem 3rem;
	max-width: 50%;
	background-color: rgba(255,255,255,.8);
}

/* ============================ LAYOUT GENERAL =========== */

	.small-space {
		width: 10px;
		height: 30px;
	}

	.large-space {
		width: 10px;
		height: 300px;
	}

/* ============================ LAYOUT GENERAL =========== */

/* ============================ FOOTER =================== */
	footer {
		display: flex;
		justify-content: center;
		/*align-content: center;*/

		width: 100vw;
		height: 250px;
		background-color: #656e82;
	}

	.sqglz-logo {
		margin-top: 95px;
		height: 60px;
		/*width:  30px;*/
	}

/* ============================ FOOTER =================== */

